{{ define "css" }}{{ end }}

{{ define "dropdown" }}{{ end }}

{{ define "nav" }}
<ul class="nav" id="side-menu">
	{{ if ne .identity.Role 1 }}
	<li class="sidebar-search">
		<a href="/docs/add/{{ .project.ID }}" class="btn btn-success btn-block" role="button">
			<i class="fa fa-plus"></i> 添加文档
		</a>
	</li>
	{{ end }}
	<li class="sidebar-search">
		<div class="input-group custom-search-form">
			<input type="text" id="doc_search" class="form-control" placeholder="搜 索">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</li>
	<li>
		<a href="/categories/view/{{ .project.CategoryID }}"><b><i class="fa fa-folder fa-fw"></i> {{ .project.CategoryName }}</b></a>
	</li>
	<li>
		<a href="#" class="active"><i class="fa fa-book fa-fw"></i> {{ .project.Name }}<span class="fa arrow"></span></a>
		<ul id="doc_wrap" class="nav nav-second-level collapse in" aria-expanded="true">
			{{ range .docs }}
			<li>
				<a href="/docs/view/{{ .ID }}">
					<i class="fa fa-bookmark fa-fw"></i> {{ .Title }}
				</a>
			</li>
			{{ end }}
		</ul>
	</li>
</ul>
{{ end }}

{{ define "breadcrumb" }}
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
			<li><a href="/categories/view/{{ .project.CategoryID }}"><i class="fa fa-folder"></i> {{ .project.CategoryName }}</a></li>
			<li class="active"><i class="fa fa-book"></i> {{ .project.Name }}</li>
		</ol>
	</div>
</div>
{{ end }}

{{ define "content" }}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default view-panel">
			<div class="panel-heading">
				<h3 class="panel-title success">
					<i class="fa fa-book"></i> {{ .project.Name }}
					{{ if ne .identity.Role 1 }}
					<div class="pull-right">
						<a href="/projects/edit/{{ .project.ID }}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> 编辑</a>
						{{ if eq .identity.Role 3 }}
						<button class="btn btn-xs btn-danger delete" data-url="/projects/delete/{{ .project.ID }}" data-msg="删除项目，会同时删除其下所有文档，确定删除吗？"><i class="fa fa-trash-o"></i> 删除</button>
						{{ end }}
					</div>
					{{ end }}
				</h3>
			</div>
			<div class="panel-body">
				<div class="body-section">
					<h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 项目名称</h5>
					<p class="section-content"><code>{{ .project.Name }}</code></p>
				</div>
				<div class="body-section">
					<h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 项目简介</h5>
					<p class="section-content"><code>{{ .project.Description }}</code></p>
				</div>
				<div class="body-section">
					<h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 添加时间</h5>
					<p class="section-content"><code>{{ .project.CreatedAt.Format "2006-01-02 15:04:05" }}</code></p>
				</div>
				<div class="body-section">
					<h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 更新时间</h5>
					<p class="section-content"><code>{{ .project.UpdatedAt.Format "2006-01-02 15:04:05" }}</code></p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}

{{ define "modal" }}{{ end }}

{{ define "js" }}
<script type="text/javascript" src="/assets/js/jquery.quicksearch.js?v={{ .version }}"></script>
<script type="text/javascript" src="/assets/js/app.js?v={{ .version }}"></script>
{{ end }}

 {{ define "view" }}
	{{ template "main" . }}
 {{ end }}