table th, table td {
    white-space: nowrap !important;
}
textarea {
    resize: none;
}
a:hover {
    text-decoration: none;
}
i.required{
    font-style: normal;
    color: #ff0000;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}
.white {
    color: #ffffff !important;
}
.align-center {
    text-align: center;
}
.primary {
    color: #337ab7;
}
.success {
    color: #5cb85c;
}
.warning {
    color: #f0ad4e;
}
.danger {
    color: #d9534f;
}
.bg-primary {
    background-color: #337ab7;
}
.bg-success {
    background-color: #5cb85c;
}
.bg-warning {
    background-color: #f0ad4e;
}
.bg-danger {
    background-color: #d9534f;
}
.border-primary {
    border-color: #337ab7;
}
.border-success {
    border-color: #5cb85c;
}
.border-warning {
    border-color: #f0ad4e;
}
.border-danger {
    border-color: #d9534f;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-success {
    border-left-color: #3c763d;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout-success h4 {
    color: #3c763d;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.margin-top-20 {
    margin-top: 20px;
}
.navbar-top-links {
    height: 50px;
}
/* other */
.breadcrumb {
    margin-top: 20px;
}
.sidebar-search a {
    padding: 6px 12px !important;
}
.sidebar-search a.active {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
.sidebar-search a:hover {
    background-color: #449d44 !important;
    border-color: #398439 !important;
}
.nav>li>a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.history-wrap {
    max-height: 402px;
    overflow-y: scroll;
}
.tagsinput {
    overflow: hidden !important;
}
.home-panel {
    margin-top: 30px;
}
.project-panel .panel-body {
    padding: 15px 0px 0px 0px;
}
.list-panel .panel-body {
    padding: 0;
}
.list-panel .panel-body .table {
    margin: 0;
}
.list-panel .panel-footer {
    height: 55px;
}
.view-panel .panel-body .section-content {
    padding: 0 20px;
}
.search-panel {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow-x: auto;
}
.pagination {
    margin: 0;
}